{% extends 'frontend.html.twig' %}

{% block content %}
    {% if is_granted(expression('"ROLE_ADMININISTRADOR" in roles or "ROLE_ASISTENTE" in roles')) %}
        <h3>Registro del Aspirante al CEC</h3>
        <a href="{{ path('homepage') }}">HOME</a>
    {% endif %}

    {% if is_granted(expression('"ROLE_ASPIRANTE" in roles')) %}
        <h3>Convocatorias donde estas registrado {{ aspirante.nombre }}  {{ aspirante.apellidoPaterno }}</h3>

        <a href="{{ path('aspirante_aspshow',{'id' : aspirante.rfc}) }}">Regresar a sitio</a>

    {% endif %}


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Num. de Registro</th>
                <th>No. Concurso</th>
                <th>Prelacion</th>
                {% if is_granted('ROLE_ASISTENTEDIV') %}
                    <th>RFC Aspirante</th>
                {% endif %}
                {% if is_granted('ROLE_ADMINSTRADOR') %}
                <th>Puntaje</th>
                <th>Nivelasig</th>
                <th>Createat</th>
                <th>Pdfanexo</th>
                {% endif %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for registro in registros %}
            <tr>
                <td><a href="{{ path('registro_show', { 'id': registro.id }) }}">{{ registro.id }}</a></td>
                <td>{{ registro.numRegistro }}</td>
                <td>{{ registro.concurso.numConcurso }}</td>
                <td>{{ registro.prelacion }}</td>
                {% if is_granted('ROLE_ASISTENTEDIV') %}
                    <td><a href="{{ path('aspirante_show', { 'id': registro.aspiranteRfc }) }}">{{ registro.aspiranteRfc }}</a></td>
                {% endif %}

                {% if is_granted('ROLE_ADMINSTRADOR') %}
                <td>{{ registro.puntaje }}</td>
                <td>{{ registro.nivelAsig }}</td>
                <td>{% if registro.createAt %}{{ registro.createAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ registro.pdfAnexo }}</td>
                {% endif %}
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('registro_show', { 'id': registro.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('registro_edit', { 'id': registro.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted(expression('"ROLE_ADMININISTRADOR" in roles or "ROLE_ASISTENTE" in roles')) %}
        <ul>
            <li>
                <a href="{{ path('registro_new') }}">Create a new entry</a>
            </li>
            <li> <a href="{{ path('homepage') }}">HOME</a></li>
        </ul>
    {% endif %}

    {% if is_granted(expression('"ROLE_ASPIRANTE" in roles')) %}

        <a href="{{ path('aspirante_aspshow',{'id' : aspirante.rfc}) }}">Regresar a sitio</a>

    {% endif %}
{% endblock %}
