{% extends 'frontend.html.twig' %}

{% block content %}
    {% if is_granted(expression('"ROLE_ADMININISTRADOR" in roles or "ROLE_ASISTENTEDEP" in roles or "ROLE_ASISTENTEDIV" in roles or "ROLE_DICTAMINADOR" in roles')) %}
        <h1>CONVOCATORIAS</h1>
        <a class="btn btn-default" href="{{ path('homepage') }}"><span class="glyphicon glyphicon-home"></span>_MENU</a>
    {% endif %}

    {% if is_granted(expression('"ROLE_ASPIRANTE" in roles')) %}
        <h1>Concursos Vigentes donde puedes generar tu Registro {{ aspirante.nombre }}  {{ aspirante.apellidoPaterno }}</h1>

        <a href="{{ path('aspirante_aspshow',{'id' : aspirante.rfc}) }}">Regresar a sitio</a>

    {% endif %}
    <br><br>

     <div class="container">
        <h3>Seguimiento de concursos</h3>
        <ul class="nav nav-tabs">
            <li id="t-1"><a href="{{ path('concurso_indexest', {'est':1}) }}">En Revisión</a></li>
            <li id="t-2"><a href="{{ path('concurso_indexest', {'est':2}) }}">Enviado a RG</a></li>
            <li id="t-3"><a href="{{ path('concurso_indexest', {'est':3}) }}">Publicado</a></li>
            <li id="t-4"><a href="{{ path('concurso_indexest', {'est':4}) }}">Reg. de Aspirantes</a></li>
            <li id="t-5"><a href="{{ path('concurso_indexest', {'est':5}) }}">Dictaminando</a></li>
            <li id="t-6"><a href="{{ path('concurso_indexest', {'est':6}) }}">Dic.Asignado</a></li>
            <li id="t-7"><a href="{{ path('concurso_indexest', {'est':7}) }}">Reconvocado</a></li>
            <li id="t-8"><a href="{{ path('concurso_indexest', {'est':8}) }}">Cancelado</a></li>
            <li id="t-9"><a href="{{ path('concurso_indexest', {'est':9}) }}">Desierto</a></li>
            <li id="t-10"><a href="{{ path('concurso_index') }}">TODOS</a></li>
        </ul>
    </div>


    <br><br>





<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>No. Concurso</th>
                <th>Estatus</th>
                {#<th>Createat</th>#}
                <th>Departamento</th>
                <th>Fechapublicacion</th>
                {% if is_granted(expression('"ROLE_DICTAMINADOR" in roles')) %}
                    <th>Dictamen</th>
                {% endif %}

                <th>Clasificacion</th>
                <th>Categoria</th>
                <th>Tiempodedicacion</th>

                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for concurso in concursos %}
            <tr>
                <td><a href="{{ path('concurso_show', { 'id': concurso.id }) }}">{{ concurso.id }}</a></td>
                <td><a href="{{ path('concurso_show', { 'id': concurso.id }) }}">{{ concurso.numConcurso }}</a></td>
                <td>{{ concurso.estatus }}</td>
                <td>{{ concurso.departamento }}</td>
                {# <td>{% if concurso.createAt %}{{ concurso.createAt|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                <td>{% if concurso.fechaPublicacion %}{{ concurso.fechaPublicacion|date('Y-m-d H:i:s') | date("d-M-Y") }}{% endif %}</td>
                {% if is_granted(expression('"ROLE_DICTAMINADOR" in roles')) %}
                    <td>{{ concurso.dictamen }}</td>
                {% endif %}

                <td>{{ concurso.clasificacion }}</td>
                <td>{{ concurso.categoria }}</td>
                <td>{{ concurso.tiempoDedicacion }}</td>


                <td>
                    <ul>
                        <li>
                            <a href="{{ path('concurso_show', { 'id': concurso.id }) }}">show</a>
                        </li>
                        {% if is_granted(expression('"ROLE_ASISTENTEDIV" in roles or "ROLE_ADMINISTRADOR" in roles')) %}
                            <li>
                                <a href="{{ path('concurso_edit', { 'id': concurso.id }) }}">edit</a>
                            </li>
                            {% if concurso.estatus=='Reconvocado' %}
                                <li>
                                    <a href="{{ path('reconvocar_edit', { 'concurso': concurso.id }) }}">RECONVOCAR</a>
                                </li>
                            {% endif %}

                            <li>
                                <a href="{{ path('concurso_showreg', { 'id': concurso.id }) }}">ASP.REGISTRADOS</a>
                            </li>
                        {% endif %}
                        {% if is_granted(expression('"ROLE_DICTAMINADOR" in roles')) %}
                            <li>
                                <a href="{{ path('dictamen_new', { 'id': concurso.id }) }}">DICTAMINAR</a>
                            </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <ul>
        <li>
            <a href="{{ path('concurso_new') }}">Registro de Nvo. Concurso</a>
        </li>
    </ul>


{% endblock %}

 {% block javascripts %}
     {{ parent() }}
     <script type="text/javascript">
         $(document).ready(function(){
             $("#t-{{ est }}").addClass('active');
         });

     </script>
 {% endblock %}